body{
  background-color: #21222a;
}
.homepage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .formwapper{
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
  }
  .logo{
  width: 200px;
  height: 80px;
  margin-bottom: 30px;
  }
  footer{
    position: fixed;
    bottom: 0;
  }
  footer a{
    color: #4aee88;
  }
  .inputgroup{
    display: flex;
    flex-direction: column;
  }
  .paste{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .inputbox{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  .btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #Join{
    background-color: #4aee88;
    width: 100px;
    margin-left: auto;
  }
  #Join:hover{
    background-color: #2d4731;
  }
  .span{
    margin: 0 auto;
    margin-top: 20px;
  }
  .reatenewbtn{
    color: #4aee88;
  }
  
  .mainwrap{
   height: 100vh;
   display: grid;
   grid-template-columns: 230px 1fr;
  }
  .editorwrap{
    background-color:rgb(57, 61, 71) ;
    color: rgb(229, 233, 235);
  }
  .sidewrap{
    background-color: #3b204b;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .asidemiddle{
  flex: 1;
  }
  .clientlist{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .btn1{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-top: 10px;
  }
  .name1{
    margin: 10px;
  }